<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.jimmyshaw.starlightgoals"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Note that we have a class, AppStarlightGoals, that extends Application. We need to tell Android
        that we're using a custom Application configuration class. We do that by adding the android:name
        attribute with our custom configuration class as the value.
    -->
    <application
        android:name=".AppStarlightGoals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
            A service's attribute called exported asks whether or not this particular service can
            can be used by any other app besides the one where it resides. We put false because no
            other app is allowed to use this service.
        -->
        <service
            android:name=".services.ServiceNotification"
            android:exported="false">
        </service>

        <!--
            A broadcast receiver's enabled and exported attribute asks whether or not other Android
            components (Activities, Services, Broadcast Receivers) can trigger or be triggered by
            this particular receiver. The action.BOOT_COMPLETED is a standard broadcast action that
            broadcasts once after the device has finished booting. It's typically used with alarms.
        -->
        <receiver
            android:name=".receivers.ReceiverBootup"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>